/target
.classpath
.project
/.settings
*/src/main/java/META-INF
*/src/main/webapp/META-INF
/.idea
.idea
node_modules
node
bower_components
.metadata
.settings
.recommenders
/ui-examples
/teste-front
/Servers
/RemoteSystemsTempFiles
/lms-cms
/.recommenders
/.metadata
/.settings
pom.properties