<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">{{getMessage('page.main.title')}}</h2>
			<bread-crumb-directive title="page.title" init="page.init" label="page.label" location="page.location"></bread-crumb-directive>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
    	<div class="col-lg-12">
    		<fieldset class="form-group">
                <label>{{getMessage('lbl.application')}}</label>
                <span ng-repeat="item in applicationsList">
                	<input type="checkbox" ng-checked="filter.applications.indexOf(item) != -1"  ng-click="checkApplication(item)">
                	{{item.name}}
                </span>
            </fieldset>
    	</div>
    </div>

	<div class="row">
		<div class="col-lg-6">
			<!-- <form role="form"> -->
				<fieldset class="form-group">
					<label>{{getMessage('lbl.name')}}</label> 
					<input class="form-control" placeholder="{{getMessage('placeholder.entity.name')}}" ng-model="filter.name">
				</fieldset>
			<!-- </form> -->
		</div>
		<div class="col-lg-6">
			<!-- <form role="form"> -->
				<fieldset class="form-group">
					<label>{{getMessage('lbl.description')}}</label> 
					<input class="form-control" placeholder="{{getMessage('placeholder.entity.description')}}" ng-model="filter.description">
				</fieldset>
			<!-- </form> -->
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<button type="submit" class="btn btn-secondary" ng-click="findByFilter()">{{getMessage('btn.filter')}}</button>
		</div>
	</div>

	<h4>{{getMessage('list.entity.title')}}</h4>
	<div class="card card-block">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>{{getMessage('lbl.id')}}</th>
						<th>{{getMessage('lbl.name')}}</th>
						<th>{{getMessage('lbl.description')}}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in entities.list">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.description}}</td>
						<td><button type="button" class="fa-pencil-square-o" name="{{getMessage('btn.edit')}}" ng-click="edit(item)" /></td>
						<td><button type="button" class="fa fa-eraser" name="{{getMessage('btn.exclude')}}" ng-click="deleteItem(item)" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="users-paginator">
			<pagination num-pages="numPages" current-page="currentPage" total-rows="entities.pageableFilterDTO.totalRows" on-select-page="selectPage(page)"></pagination>
		</div>
	</div>
</div>