<!-- <form name="form.modalGallery" novalidate> -->
	<div class="modal-content">
	    <div class="row">
	        <div class="col-lg-12">
	            <h2 class="page-header">
	                {{getMessage('page.field.modal.title')}}
	            </h2>
	        </div>
	    </div>
	    <!-- /.row -->
	    
	    <div class="row" data-ng-if="exibError">
	        <div class="col-lg-12">
	            <span class="page-header" style="color: red">
	                {{msg}}
	            </span>
	        </div>
        </div>

	    <div class="row">
	        <div class="col-lg-6">
                <fieldset class="form-group">
                    <label>{{getMessage('lbl.field.type')}} *</label>
                    <select class="form-control" data-ng-options="item as item.msg for item in types" 
							ng-model="field.typeField" required ng-change="exibError=false;changeTypeField()">
						<option value="null">{{getMessage('lbl.general.select')}}</option>
					</select>
                </fieldset>
	        </div>

	        <div class="col-lg-6">
                <fieldset class="form-group">
                    <label>{{getMessage('lbl.name')}} *</label>
                    <input class="form-control" placeholder="{{getMessage('placeholder.field.name')}}" ng-model="field.name" ng-change="exibError=false;">
                </fieldset>
          	</div>
       </div>
       
       <div class="row">
       		<div class="col-lg-12">
                <fieldset class="form-group">
                    <label>{{getMessage('lbl.description')}}</label>
                    <input class="form-control" placeholder="{{getMessage('placeholder.field.description')}}" ng-model="field.description" ng-change="exibError=false;">
                </fieldset>
	        </div>
	   </div>
	   
	   <div class="row" ng-if="field.typeField.id === 0">
	        <div class="col-lg-6">
				<fieldset class="form-group">
                    <label>{{getMessage('lbl.relation.type')}} *</label>
                    <select class="form-control" data-ng-options="item as item.msg for item in typesRelations" 
							ng-model="field.typeRelation" required ng-change="exibError=false;">
						<option value="null">{{getMessage('lbl.general.select')}}</option>
					</select>
	            </fieldset>
	         </div>
	         <div class="col-lg-6" >
	            <fieldset class="form-group">
                    <label>{{getMessage('lbl.entity.ref')}} *</label>
                    <select class="form-control" data-ng-options="item as item.name for item in entities" 
							ng-model="field.entityRef" required ng-change="exibError=false;">
						<option value="null">{{getMessage('lbl.general.select')}}</option>
					</select>
	            </fieldset>	        
	        </div>
	    </div>
	    <!-- /.row -->

	    <div class="row">
	    	<div class="col-lg-12">
	    		<button type="submit" class="btn btn-secondary" ng-click="saveField()">{{getMessage('btn.save')}}</button>
	            <button type="reset" class="btn btn-secondary" ng-click="cancel()">{{getMessage('btn.cancel')}}</button>
	    	</div>
	    </div>

	</div>
<!-- </form> -->

<style>
   .modal.fade.in {top: 4% !important;}
</style>