<html>
    <body>
        <h3>Solicitação de Proposta</h3>
        <div>
        	<b>Nome Completo:</b>
        	<span>${name}</span>
        </div>
        <div>
        	<b>Email:</b>
        	<span>${email}</span>
        </div>
        <div>
        	<b>Telefone:</b>
        	<span>${telefone}</span>
        </div>
        <div>
        	<b>Web Site:</b>
        	<span>${site}</span>
        </div>
        <div>
        	<b>Cargo:</b>
        	<span>${cargo}</span>
        </div>
        <div>
        	<b>Quantidade de Funcionarios:</b>
        	<span>${qtdFunc}</span>
        </div>
		<br>
        <div>
        	<b>Texto:</b>
			<br>
        	<text>${textContract}</text>
        </div>
		<br>
        <div>
        	<b>Como nos achou:</b>
        	<span>${findIn}</span>
        </div>
    </body>
</html>