<h2>Local</h2>
<div class="col-xs-6 form-group">
    <label for="record-type" class="label-control">Tipo:</label>
    <select id="record-type" class="form-control" ng-model="data.type">
        <option value="">-- Selecione --</option>
        <option value="Bar">Bar</option>
        <option value="Boteco">Boteco</option>
        <option value="Restaurante">Restaurante</option>
    </select>
</div>
<div class="col-xs-6 form-group">
    <label for="record-name" class="label-control">Nome:</label>
    <input type="text" id="record-name" class="form-control" ng-model="data.name"/>
</div>
<div class="col-xs-12 form-group">
    <label for="record-description" class="label-control">Descrição:</label>
    <textarea id="record-description" class="form-control" ng-model="data.description"></textarea>
</div>
<div class="col-xs-12 form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Endereço:</b></h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-3 form-group">
                <label for="record-address-country" class="label-control">País:</label>
                <input type="text" id="record-address-country" class="form-control" ng-model="data.address.country"/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="record-address-state" class="label-control">Estado:</label>
                <input type="text" id="record-address-state" class="form-control" ng-model="data.address.state"/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="record-address-city" class="label-control">Cidade:</label>
                <input type="text" id="record-address-city" class="form-control" ng-model="data.address.city"/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="record-address-district" class="label-control">Bairro:</label>
                <input type="text" id="record-address-district" class="form-control" ng-model="data.address.district"/>
            </div>
            <div class="col-xs-9 form-group">
                <label for="record-address-street" class="label-control">Rua:</label>
                <input type="text" id="record-address-street" class="form-control" ng-model="data.address.street"/>
            </div>
            <div class="col-xs-1 form-group">
                <label for="record-address-number" class="label-control">Número:</label>
                <input type="text" id="record-address-number" class="form-control" ng-model="data.address.number"/>
            </div>
            <div class="col-xs-2 form-group">
                <label for="record-address-postalCode" class="label-control">CEP:</label>
                <input type="text" id="record-address-postalCode" class="form-control" ng-model="data.address.postalCode"/>
            </div>
            <div class="col-xs-2 form-group">
                <label for="record-address-location-latitude" class="label-control">Latitude:</label>
                <input type="text" id="record-address-location-latitude" readonly="readonly" class="form-control" ng-model="data.address.location.latitude"/>
            </div>
            <div class="col-xs-2 form-group">
                <label for="record-address-location-longitude" class="label-control">Longitude:</label>
                <input type="text" id="record-address-location-longitude" readonly="readonly" class="form-control" ng-model="data.address.location.longitude"/>
            </div>
            <div class="col-xs-8 form-group text-right">
                <br/><br/>
                <button type="button" ng-click="getLatLng()" class="btn btn-default btn-primary" title="Obter latitude e longitude">Obter latitude e longitude</button>
            </div>
            <div class="col-xs-12 form-group">
                <div id="mapAddress" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 text-right form-group">
    <button type="button" ng-click="cancel()" class="btn btn-default btn-primary" title="Cancelar">Cancelar</button>
    <button type="button" ng-click="save()" class="btn btn-default btn-success" title="Salvar">Salvar</button>
    <button type="button" ng-click="delete()" class="btn btn-default btn-danger" title="Apagar" ng-if="data.id">Apagar</button>
</div>