<h2>Locais</h2>
<div class="col-xs-6 form-group">
    <label for="filter-type" class="label-control">Tipo:</label>
    <select id="filter-type" class="form-control" ng-model="filter.type">
        <option value="">-- Todos --</option>
        <option value="Bar">Bar</option>
        <option value="Boteco">Boteco</option>
        <option value="Restaurante">Restaurante</option>
    </select>
</div>
<div class="col-xs-6 form-group">
    <label for="filter-name" class="label-control">Nome:</label>
    <input type="text" id="filter-name" class="form-control" ng-model="filter.name"/>
</div>
<div class="col-xs-6 text-left form-group">
    <button type="button" ng-click="open('new')" class="btn btn-raised btn-success" title="Novo">Novo</button>
</div>
<div class="col-xs-6 text-right form-group">
    <button type="button" ng-click="search()" class="btn btn-raised btn-primary" title="Buscar">Buscar</button>
</div>
<div ng-if="result.length > 0" class="col-xs-12 table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Localização</th>
        </tr>
        <tr ng-repeat="item in result" ng-click="open(item.id);">
            <td>{{item.type}}</td>
            <td>{{item.name}}</td>
            <td><pre>{{item.description}}</pre></td>
            <td>Latitude: {{item.address.location.latitude}}<br/>Longitude {{item.address.location.longitude}}</td>
        </tr>
    </table>
</div>