<h2>Localize!</h2>
<div class="col-xs-12 form-group">
    <label for="filter-type" class="label-control">Tipo:</label>
    <select id="filter-type" class="form-control" ng-model="filter.type">
        <option value="">-- Todos --</option>
        <option value="Bar">Bar</option>
        <option value="Boteco">Boteco</option>
        <option value="Restaurante">Restaurante</option>
    </select>
</div>
<div class="col-xs-12 text-right form-group">
    <button type="button" ng-click="show()" class="btn btn-raised btn-primary" title="Buscar">Mostrar locais</button>
</div>
<div class="col-xs-12 form-group">
    <div id="mapAddress" style="width: 100%; height: 600px;"></div>
</div>